* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #E2E7E9;
  background-image: url(./images/ready/body-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: left, bottom;
}

/* Header */
header {
  height: 20rem;
  background-color: black;
  background: rgb(31,21,51);
  /* background: linear-gradient(0deg, rgba(147,100,140,1) 0%, rgba(122,74,83,1) 34%, rgba(0,0,0,1) 90%); */
  background-image: url(./images/ready/header256-sml.png);
  background-repeat: no-repeat;
  background-position: center, left;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20rem;
  position: relative;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 4rem;
  color: white;
  padding-left: 2rem;
}

header .logo {
  height: 130px;
}

/* Top Navigation */
.topnav {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  /* height: auto; */
  /* padding: 1%; */
  background: linear-gradient(0deg, rgba(255,255,255,0.0) 0%, rgba(255,255,255,1) 30%);
}

nav .topnav:hover {
  background: linear-gradient(0deg, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.25) 100%);
}

.topnav > a {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  border-radius: 20px;
}

/* unvisited link */
.topnav > a:link {
  color: black;
}

/* visited link */
.topnav > a:visited {
  color: black;
}

/* mouse over link */
.topnav > a:hover {
  background-color: rgba(128, 128, 128, .3);
  border-radius: 12px;
  transition-duration: .3s;
}

/* selected link */
.topnav > a:active {
  text-decoration: underline;
}

/* MISSION */
.mission {
  height: 17rem;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 1.8rem;
  color: white;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mission h2 {
  padding: 5%;
}


/* Products & Services */

.services {
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  padding: 5% 5% 2%;
}

/* flex container */
.case-studies {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 5% 2%;
}

/* flex case container */
.case-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.3;
  margin: 2% 5%;
  width: 200px;
  min-width: 200px;
  height: auto;
}

.case-container img {
  border-radius: 50%;
}

.case-container img:hover {
  /* border: 2px solid red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: .3s;
}

.case-container h4{
  padding: 8%;
  margin: 5%;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  text-align: center;
}

/* #special-type {
  font-size: 1.39rem;
} */

/* TALENT */

.talent {
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  padding: 5% 5% 2%;
}

.exec-profiles-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 5% 5%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.3;
  margin: 2% 5%;
  width: 200px;
  min-width: 200px;
  height: auto;
}

.profile-container img {
  border-radius: 40px;
  /* background-color: purple; */
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
}

.profile-container img:hover {
  filter: grayscale(0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 1s;
}


.profile-container h4{
  padding: 8%;
  margin: 5%;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}


footer {
  padding: 5% 5% 2%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom, right;
  background-size: cover;
  color: grey;
}



footer h3 {
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-size: 3rem;
  color: grey;
  margin-bottom: .5rem;
}

h4, h6 {
  font-weight: normal;
  font-family: sans-serif;
}

footer .logo {
  /* filter: invert(100%); */
  opacity: 50%;
  margin: 2% 2% 2%;
  height: 130px;
}

footer div > a {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 1%;
  /* background-color: darkgrey;
  border: 1px none grey; */
  border-radius: 20px;
}

/* unvisited link */
.footernav > a:link {
  color: grey;
}

/* visited link */
.footernav > a:visited {
  color: grey;
}

/* mouse over link */
.footernav > a:hover {
  text-decoration: underline;
}

/* selected link */
.footernav > a:active {
}

footer > address {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.email {
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 1rem;
}

.legal {
  margin-top: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 432px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    padding: 0;
    text-align: center;
    line-height: 1;
    font-size: 3rem;
    margin-top: 1rem;
    padding: 0 5%;
  }

  .topnav, .topnav a {
    font-size: 1rem;
    justify-content: center;
  }

  .mission h2 {
    font-size: 1.8rem;
    padding: 5%;
  }

  .services, .talent {
    font-size: 1.7rem;
    padding: 8% 5% 6%;
  }

  .talent {
    font-size: 2.5rem;
  }

  footer {
    padding-top: 10%;
  }

  footer h3 {
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 499px) and (min-width: 433px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    padding: 0 5%;
    margin-top: 1rem;
    text-align: center;
    line-height: 1;
    font-size: 3rem;
    margin-top: 1rem;
  }

  .topnav, .topnav a {
    font-size: 1.5rem;
    justify-content: center;
  }

  .mission h2 {
    font-size: 1.8rem;
    padding: 5%;
  }

  footer {
    padding-top: 10%;
    border: 8px solid red;
  }

  footer h3 {
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 780px) and (min-width: 500px) {
  .header {
    display: block;
    text-align: center;
  }

  .header img {
    margin-top: 4rem;
  }

  header  h1 {
    text-align: center;
    padding: 0;
    font-size: 3rem;
  }

  .topnav, .topnav a {
    justify-content: center;
  }

  .mission h2 {
    font-size: 1.8rem;
    padding: 5%;
  }

  footer {
    padding-top: 10%;
  }
}

@media screen and (max-width: 781px and min-width: 633px) {
  header h1 {
    font-size: 2rem;
    padding: 0;
  }

  .mission h2 {
    font-size: 2rem;
    padding: 5%;
  }
}
